@import url(variables.scss);
* {
  box-sizing: border-box;
  margin: 0px; }

/* menu*/
header {
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to right, black, silver);
  margin: 0px; }

nav {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "a  b"; }

ul {
  grid-area: b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px; }

ul li {
  padding: 5px;
  margin-right: 30px;
  list-style: none; }

ul li:hover {
  transform: translate(5px, 5px); }

ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif; }

.contenedor-logo {
  grid-area: a;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

#logo {
  padding: 5px;
  margin-left: 25px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: silver; }

/* portada */
.fondo-portada {
  height: 700px;
  width: 100%;
  background-image: url(.img/fondo.jpeg); }

.contenedor-portada {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "izq  der"; }

.contenedor-portada-foto {
  grid-area: der; }

#portada-foto {
  margin-top: 80px;
  margin-left: 90px;
  transform: rotate(10deg); }

.contenedor-portada-texto {
  margin: 90px 30px 0px 85px;
  display: grid;
  grid-template-rows: 35% 65%;
  grid-template-columns: 100%;
  grid-template-areas: "arriba" "abajo"; }

.contenedor-portada-pitch {
  grid-area: arriba;
  display: flex;
  justify-content: center;
  width: 850px; }

#portada-pitch {
  font-size: 55px;
  width: auto;
  color: white;
  font-weight: 900;
  letter-spacing: 0px;
  animation-delay: 2s;
  animation: gira 4s  1; }

@keyframes gira {
  0% {
    letter-spacing: 0px; }
  50% {
    letter-spacing: 4px; }
  100% {
    letter-spacing: 0px; } }

.contenedor-portada-parrafo {
  margin-right: 40px;
  grid-area: abajo; }

#portada-parrafo {
  font-size: 25px;
  color: silver; }

/* beneficios*/
.fondo-beneficios {
  height: 550px;
  width: 100%;
  background-image: linear-gradient(to left, white, #bfbdbd); }

.contenedor-beneficios {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "izqB derB"; }

.contenedor-beneficiosFoto {
  grid-area: izqB;
  margin: 90px 30px 0px 85px; }

#beneficios-fotoConsumidor {
  border-radius: 200px; }

.contenedor-beneficiosTexto {
  grid-area: derB;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "arribaB" "abajoB"; }

.contenedor-beneficiosTitulo {
  margin-top: 90px;
  grid-area: arribaB; }

#beneficiosTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #636161; }

.contenedor-beneficiosParrafo {
  grid-area: abajoB;
  margin-right: 90px;
  margin-left: 50px; }

.beneficiosParrafo {
  color: #777777;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800; }

/* beneficios vendedor*/
.fondo-beneficiosVendedor {
  height: 550px;
  width: 100%;
  background-color: black; }

.contenedor-beneficiosVenFoto {
  grid-area: derB;
  margin: 90px 90px; }

#beneficios-fotoVendedor {
  border-radius: 150px; }

.contenedor-beneficiosVenTexto {
  grid-area: izqB;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "arribaB" "abajoB"; }

.contenedor-beneficiosVenTitulo {
  margin-right: 50px;
  margin-top: 90px;
  grid-area: arribaB; }

#beneficiosVenTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #636161; }

.contenedor-beneficiosVenParrafo {
  grid-area: abajoB;
  margin-right: 50px;
  margin-left: 90px; }

p{ 
  color: red;
}